.card {
	background-color: rgba(57, 51, 90, 0.286);
	padding: 1rem;
	border-radius: 20px;
	filter: blur(10%);
	display: flex;
	flex-direction: column;
	width: auto;
	gap: 20px;
	position: relative;
}

.card .card-rating {
	display: flex;
	align-items: center;
	gap: 5px;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 0.8rem;
}

.card .card-container-image {
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(900px 600px at 50% 10%, rgba(125, 128, 138, 0.239), transparent 60%);
	border-radius: 7px;
	padding: 5px 0px;
	width: 100%;
}

.card .card-container-image #card-image {
	transform: rotate(25deg);
}

.card .card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	gap: 1rem;
	align-items: start;
}

.card .card-info .card-info-text {
	display: flex;
	flex-direction: column;
	gap: 0;
}

.card .card-info .card-info-price > p {
	margin: 0;
	font-weight: bold;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
}

.card .card-info .card-info-text .card-info-price .price-symbol {
	font-size: 1rem;
	color: #908e8e;
	padding-right: 3px;
}

.card .card-title {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 0;
}

.card .card-subtitle {
	font-size: 0.875rem;
	color: #908e8e;
	margin: 0;
}
