@import "primereact/resources/themes/lara-dark-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
}
