@import "primereact/resources/themes/lara-dark-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

.page-container {
  height: auto;
  width: 100vw;
  padding: 1.5rem;
}